<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <!--DATABASE CONNECTION-->
    <add key="ConnectionString" value=" ;Database=;uid=;pwd=;"/>

    <!--ALERT LABEL-->
    <add key ="lblMessageTop" value ="0"/>
    <!-- 0:ON;1:OFF-->
    <add key ="lblMessageBottom" value ="0"/>
    <!-- 0:ON;1:OFF-->
    <add key ="deleteConfirmation" value ="Adakah anda pasti mahu memadamkan rekod ini secara kekal?"/>
    <add key ="deleteSuccessAlert" value ="Rekod Berjaya Dipadam."/>
    <add key ="deleteFailAlert" value ="Harap Maaf.Rekod Tidak Berjaya Dipadam."/>
    <add key ="saveSuccessAlert" value ="Rekod Berjaya Disimpan."/>
    <add key ="saveFailAlert" value ="Harap Maaf.Rekod Tidak Berjaya Disimpan."/>
    <add key ="dataBindAlert" value ="Tiada Rekod Ditemui."/>
    <add key ="recordBindAlert" value ="Jumlah Rekod Yang Ditemui : "/>
    <add key ="systemErrorAlert" value ="Sila Hubungi Sistem Sokongan Untuk Bantuan."/>
    <add key ="dataValidationAlert" value ="Pendaftaran Gagal.Sila Masukkan data dengan betul."/>
    <add key ="dataExistAlert" value ="Harap Maaf.Rekod Telah Wujud."/>
    <add key ="recordExistAlert" value ="Harap Maaf.Rekod telah di gunakan di bahagian lain."/>
  </appSettings>
</configuration>